@media (min-width: 500px){
    .HamburgerIcon{
        display: none;
    }
}
@media (max-width: 500px) {
    .HamburgerIcon {
        background-color:  #f8e05a;
        padding: 8px;
        height: 80%;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .HamburgerIcon img {
        height: 100%;   
    }
}